{% extends "base.html" %}            
            
{% block pageContent %}
            <h1>Listado de <em>Ingresos-Gastos</em></h1>
            <h2>Un simulacro de contabilidad</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in movements %}
                    {# registro es cada una de las filas de la lista movements #}
                    <tr>
                        <td>{{ registro[0] }}</td>
                        <td>{{ registro[1] }}</td>
                        <td>{{ registro[2] }} €<!-- esto debería sacarlo bien formateado --></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tr></tr>
            </table>
            <a href="/nuevo">Añadir</a>  
{% endblock %}
